#ui-container pre.log-output {
    background-color: black;
    font-family: monospace;
    color: white;
    text-align: left;
    height: calc(100vh - 130px);
    overflow: auto;
}

#ui-container .uk-grid {
    margin-left: 0px !important;
}

#ui-container #run-panel form > div{
    text-align: left;
}
