
<nav class="uk-navbar uk-navbar-attached">
    <ul class="uk-navbar-nav uk-hidden-small">
        <li class="{{ 'uk-active' if active == 'run' else ''}}"><a href="/run">Run</a></li>
        <li class="{{ 'uk-active' if active == 'compare' else ''}}"><a href="/compare">Compare</a></li>
        <li class="uk-parent {{ 'uk-active' if active != 'run' and active != 'compare' else ''}}" data-uk-dropdown="">
            <a href="#!">C.R.U.D. <i class="uk-icon-caret-down"></i></a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li class="{{ 'uk-active' if active == 'crud-problems' else ''}}"><a href="/crud-problems">Problems</a></li>
                    <li class="{{ 'uk-active' if active == 'crud-solvers' else ''}}"><a href="/crud-solvers">Solvers</a></li>
                    <!-- <li class="uk-nav-header">Header</li> -->
                    <li class="uk-nav-divider"></li>
                    <li class="{{ 'uk-active' if active == 'crud-solutions' else ''}}"><a href="/crud-solutions">Solutions</a></li>
                    <!-- <li><a href="#">Separated item</a></li> -->
                </ul>
            </div>
        </li>
    </ul>
    <a href="#navbar-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
<!--     <div class="uk-navbar-flip">
        <a href="" class="uk-navbar-toggle uk-navbar-toggle-alt uk-visible-small"></a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li class="uk-parent" data-uk-dropdown="">
                <a href="">Parent <i class="uk-icon-caret-down"></i></a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Another item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Another item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Separated item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="">Item</a></li>
            <li class="uk-active"><a href="">Active</a></li>
        </ul>
    </div> -->
</nav>


<div id="navbar-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="">
            <li class="u{{ 'uk-active' if active == 'run' else ''}}"><a href="/run">Run</a></li>
            <li class="{{ 'uk-active' if active == 'compare' else ''}}"><a href="/compare">Compare</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">C.R.U.D</li>
            <li class="{{ 'uk-active' if active == 'crud-problems' else ''}}"><a href="/crud-problems">Problems</a></li>
            <li class="{{ 'uk-active' if active == 'crud-solvers' else ''}}"><a href="/crud-solvers">Solvers</a></li>
            <li class="{{ 'uk-active' if active == 'crud-solutions' else ''}}"><a href="/crud-solutions">Solutions</a></li>
        </ul>
    </div>
</div>
