{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/assets/custom/css/run.css">
<link rel="stylesheet" href="/assets/custom/css/solvers/solverForm.css">
<link rel="stylesheet" href="/assets/custom/css/problems/problemForm.css">
<link rel="stylesheet" href="/assets/vis/vis.min.css">
{% end %}

{% block js %}
<script src="/assets/vis/vis.min.js"></script>
<script type="text/javascript" src="/assets/custom/js/run/runUI.js"></script>
<script type="text/javascript" src="/assets/custom/js/run/logView.js"></script>
<script type="text/javascript" src="/assets/custom/js/run/measurementsView.js"></script>
<script src="/assets/custom/js/solvers/solverForm.js"></script>
<script src="/assets/custom/js/problems/problemForm.js"></script>
<script type="text/javascript">
$(function () {
    var ui = new RunUI($('#run-ui-container'));
    ui.initialize();
})
</script>
{% end %}

{% block content %}
<div class="uk-grid" id="run-ui-container">
    <div class="uk-panel uk-panel-box uk-width-1-1" id="run-panel">
        <h3 class="uk-panel-title">Select &amp; Run a Solver</h3>
        <form class="uk-form uk-grid" onsubmit="return false;">
            <div class="uk-width-7-10 uk-width-8-10 uk-width-large-9-10">
                <select id="select-solver"></select>
            </div>
            <div class="uk-width-1-10">
                <button class="uk-button uk-button-primary" id="run-solver">Run!</button>
            </div>
            <div class="uk-width-1-1" id="solver-description"></div>
        </form>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-width-medium-1-2" id="problem-panel">
        <h3 class="uk-panel-title">Problem Visualization</h3>
        <div id="problem-vis">
            No problem visualization defined.
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-width-medium-1-2" id="solver-panel">
        <h3 class="uk-panel-title">Solver Visualization</h3>
        <div id="solver-vis">
            No solver visualization defined.
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1" id="measurements-panel">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-small-4-10 uk-width-medium-6-10 uk-width-large-7-10">
                <h3 class="uk-panel-title">Measures</h3>
            </div>
            <div class="uk-width-1-1 uk-width-small-6-10 uk-width-medium-4-10 uk-width-large-3-10">
                <div class="uk-button-group" data-uk-button-checkbox id="toggle-measure">
                </div>
            </div>
        </div>
        <div id="measurements-vis">
            Measurements will be displayed here.
        </div>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1" id="log-panel">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-small-7-10 uk-width-medium-4-5 uk-width-large-9-10">
                <h3 class="uk-panel-title">Log Output</h3>
            </div>
            <div class="uk-width-1-1 uk-width-small-3-10 uk-width-medium-1-5 uk-width-large-1-10">
                <select placeholder="Hide below..." id="select-level">
                </select>
            </div>
        </div>
        <pre class="log-output">
            Logging output will go there...
        </pre>
    </div>
</div>
<div id="visualization"></div>


<div id="create-solver-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        {% include "solverForm.html" %}
    </div>
</div>

{% end %}
