{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/assets/custom/css/run.css">
<link rel="stylesheet" href="/assets/custom/css/solvers/solverForm.css">
<link rel="stylesheet" href="/assets/custom/css/problems/problemForm.css">
{% end %}

{% block js %}
<script type="text/javascript" src="/assets/custom/js/run.js"></script>
<script src="/assets/custom/js/solvers/solverForm.js"></script>
<script src="/assets/custom/js/problems/problemForm.js"></script>
<script type="text/javascript">
$(function () {
    var ui = new RunUI($('#run-ui-container'));
    ui.initialize();
})
</script>
{% end %}

{% block content %}
<div class="uk-grid" id="run-ui-container">
    <div class="uk-panel uk-panel-box uk-width-1-1" id="run-panel">
        <h3 class="uk-panel-title">Select &amp; Run a Solver</h3>
        <form class="uk-form uk-grid" onsubmit="return false;">
            <div class="uk-width-7-10 uk-width-8-10 uk-width-large-9-10">
                <select id="select-solver"></select>
            </div>
            <div class="uk-width-1-10">
                <button class="uk-button uk-button-primary" id="run-solver">Run!</button>
            </div>
            <div class="uk-width-1-1" id="solver-description"></div>
        </form>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-width-medium-1-2">
        <h3 class="uk-panel-title">Problem Visualization</h3>
        <canvas>
            No problem visualization defined.
        </canvas>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-width-medium-1-2">
        <h3 class="uk-panel-title">Solution Visualization</h3>
        <canvas>
            No solution visualization defined.
        </canvas>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1">
        <h3 class="uk-panel-title">Measures</h3>
        <canvas>
            No measures defined.
        </canvas>
    </div>
    <div class="uk-panel uk-panel-box uk-width-1-1" id="log-panel">
        <h3 class="uk-panel-title">Log Output</h3>
        <pre class="log-output">
            Logging output will go there...
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </pre>
    </div>
</div>

<div id="create-solver-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        {% include "solverForm.html" %}
    </div>
</div>

{% end %}
