{% extends "twoCols.html" %}

{% block title %}Solvers{% end %}

{% block cssTwoCol %}
<link rel="stylesheet" href="/assets/custom/css/solvers/solverForm.css">
<link rel="stylesheet" href="/assets/custom/css/problems/problemForm.css">
{% end %}

{% block js %}
<script src="/assets/custom/js/solvers/solvers.js"></script>
<script src="/assets/custom/js/solvers/solverForm.js"></script>
<script src="/assets/custom/js/problems/problemForm.js"></script>
<script type="text/javascript">
$(function () {
    new SolversCRUDPanel($('#solvers-list'), $('#solver-form-container')).initialize();
});
</script>
{% end %}

{% block side-list %}
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed" id="solvers-list">
    <thead>
        <tr><th>Solvers list</th></tr>
    </thead>
    <tbody id="solvers-list">
    </tbody>
</table>
<ul class="uk-list uk-list-striped"></ul>
{% end %}

{% block form %}
<div class="fake-modal-container" id="solver-form-container">{% include "solverForm.html" %}</div>
{% end %}
