<div class="uk-modal-header">
    <h2>Create or Edit</h2>
</div>
<form class="uk-form uk-form-stacked solver-form" onsubmit="return false;">
    <fieldset>
        <legend>Select and name the solver</legend>
        <div class="uk-form-row uk-grid">
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <label class="uk-form-label" for="select-type">Type</label>
                <select id="select-type"></select>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <label class="uk-form-label" for="select-implem">Implementation</label>
                <select id="select-implem"></select>
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="select-problem">Problem</label>
                <select id="select-problem"></select>
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="input-name">Name</label>
                <input type="text" placeholder="Leave blank use auto-computed name" class="uk-width-1-1" id="input-name">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Bind optional data</legend>
        <div class="uk-form-row uk-grid">
            <div class="uk-width-1-1 uk-width-medium-1-2">
                <label class="uk-form-label" for="select-visualization">Visualization</label>
                <select id="select-visualization"></select>
            </div>
    </fieldset>
    <fieldset>
        <legend>Solver description</legend>
        <div class="uk-form-row">
            <p id="description">Select an implementation to view its description here...</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>Parameters</legend>
        <div class="uk-form-row uk-grid" id="parameters">
        </div>
    </fieldset>
    <div class="uk-modal-footer">
        <div class="uk-form-row" id="controls">
            <button id="clear" class="uk-button uk-button-danger">Clear</button>
            <button id="reset" class="uk-button uk-button-warning">Reset</button>
            <button id="submit" class="uk-button uk-button-primary">Submit</button>
        </div>
    </div>
</form>

<div id="create-problem-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        {% include "problemForm.html" %}
    </div>
</div>
