.problem-form {
    text-align: left;
    margin: 1em 2em 2em 5em;
}

.problem-form .parameter-field {
    /*margin-top: 5px;*/
    margin-bottom: 10px;
}

.problem-form #controls {
    text-align: right;
}
